.container {
  /* background-color: #181c1e;S */
  border-radius: 5px;
}

.container-item {
  cursor: pointer;
}

.container-ratting-item {
  padding: 10px;
}
.header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 2px solid #282b2d;
}

.title {
  font-size: 2.6rem;
  font-weight: 600;
  cursor: auto;
  line-height: 2.6rem;
}

.title-list {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.title::before {
  content: "";
  position: absolute;
  width: 10%;
  border-top: 5px solid #31b331;
  top: 100%;
  left: 0;
  border-radius: 2px;
}

.title-item {
  padding: 16px 0;
  text-decoration: none;
  color: #ccc;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.1s;
}

.title-item:hover {
  color: rgb(207, 172, 172);
}

.title-item.active {
  color: #f32116;
  font-weight: 600;
}

/* Container ratting tb */

.container-ratting-item .title,
.container-ratting-item .title-item {
  font-size: 1.6rem;
}

/* Table search */
.table-search {
  padding: 0 16px;
}

@media (max-width: 46.1875em) {
  .header {
    display: block;
  }

  .title-item {
    width: 50%;
    text-align: center;
  }
}
