.trending-list {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  overflow-x: auto;
  transition: all 0.3s;
  scroll-behavior: smooth;
}

.trending-list::-webkit-scrollbar {
  width: 0;
}

li.trending-item {
  animation: unset;
}

.trending-item:hover {
  animation: hoverOn linear 0.4s;
}

@keyframes hoverOn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
